<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials/head.html :: site-head"></div>
<body>
<div th:replace="partials/header.html :: site-header"></div>

	<form th:action="'/posts/edit/' + ${post.getId()}" method="post">
	
		<label>Post Title:</label>
		<input name="title" type="text" th:value="${post.getTitle()}">
		
		<label>Post Body:</label>
		<input name="body" type="text" th:value="${post.getBody()}">
		
		<button type="submit">Submit</button>
	</form>

<div th:replace="partials/footer.html :: site-footer"></div>

</body>
</html>